# Backend
todo-backend/target/
todo-backend/.idea/
todo-backend/*.iml
todo-backend/.vscode/

# Frontend
todo-frontend/node_modules/
todo-frontend/build/
todo-frontend/.env.local
todo-frontend/.env.development.local
todo-frontend/.env.test.local
todo-frontend/.env.production.local
todo-frontend/npm-debug.log*
todo-frontend/yarn-debug.log*
todo-frontend/yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
